@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh; /* 100% da altura do site */
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center; /* título no centro */
}

header > h1 {
    padding-top: 50px; /*espaço do título com a base do site */
    font-variant: small-caps; /*deixa as letras maiúsculas*/

}

header > p {
    padding-bottom: 50px; /* espaço na parte de baixo do título */

}

a { /* link */
    color: white;
    text-decoration: none; /* tirar o sublinhado */
    font-weight: bolder; /*negrito*/
}

header a:hover, footer a:hover{
    text-decoration: underline; /* sublinha quando passo o mouse por cima da palavra */
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /* espaçamento entre as linhas */
    padding-left: 30px; /* espaço tipo parágrafo */
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(58, 57, 57) ;
    color: white;

}

section.imagem > p { /* caixa dentro de caixa */
    width: 400px;
    background-color: rgb(46, 45, 45);
}

footer {
background-color: black;
color: white;
text-align: center;
padding: 10px;

}