@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#C6D9A9, #F2D8DF );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #f06b8ead ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#C1C3C7 ;
    text-align: center;
    text-shadow: 1px 1px 2px #39a6e0 ;                               

}

h2{
color: #DBBB71;
}

p{
    text-align: justify ;
}